// Bootstrap required file
@import "../node_modules/bootstrap/scss/functions";

//Place to override bootstrap variables
$dark: #000;
$primary: #9391FF;

// Bootstrap required files
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// Bootstrap optional files
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/accordion";
@import "../node_modules/bootstrap/scss/utilities/api";
@import "../node_modules/bootstrap/scss/carousel";

$cool-grey-80: #6F7681;

.page-title {
  color: white;
}

.page-header {
  height: 300px;
  background-origin: padding-box;
  background-color: #000;
  background-clip: padding-box;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  margin-top:58px;
}

.page-container {
  padding-top: 40px;
}

.page-container .row {
  padding-top: 24px;
  padding-bottom: 24px;
}

.inserted-image {
  max-height: 100%;
  width: auto;
}

.image-caption {
  font-size: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
}

hr.divider-solid {
  border-top: 3px solid #bbb;
  margin-top: 32px;
  margin-bottom: 16px;
}

.break-card.agenda-card {
  border: 1px solid $cool-grey-80;
}

.break-card .agenda-card-date {
  background-color: $cool-grey-80;
}

.break-card .agenda-card-content {
  background-image: url('/img/common-assets/break-cat.png');
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: right;
  background-size: 25%;
}

.button32 {
  display: inline-block;
  background: #9391FF;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  border: none;
  font-size: 16px;
  font-weight: 700;
  color: white;
  padding: 12px 16px;
}

.button32outline {
  display: inline-block;
  background: none;
  border: 1px solid $primary;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: white;
  padding: 12px 16px;
}

#lookbackCarousel {
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 40px;
}

#salt-lake-city-image{
  display: inline-block;
  height: 200px;
  border-radius: 8px;
  overflow: hidden;
}

#embassy-suite-image {
  display: inline-block;
  height: 200px;
}

#agenda-header {
  background-image: url("/img/page-headers/agenda.png");
}

#speakers-header {
  background-image: url("/img/page-headers/speakers.png");
}

#trivia-header {
  background-image: url("/img/page-headers/trivia.png");
}

#amas-header {
  background-image: url("/img/page-headers/amas.png");
}

#faqs-header {
  background-image: url("/img/page-headers/faqs.png");
}

#travel-header {
  background-image: url("/img/page-headers/travel.png");
}

#locations-header {
  background-image: url("/img/page-headers/locations.png");
}
