<link rel="stylesheet" href="css/navbar.css">
</link>
<nav class="main-nav navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img class="lucid-nav-logo" src="img/common-assets/Lucid-Software-Logo.png"></img>
      <div class="verticle-divider"></div>
      <span class="nav-title">2021 Product Summit</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" id="home" href="/index.html">Home</a></li>
        <li class="nav-item"><a class="nav-link" id="agenda" href="/agenda.html">Agenda</a></li>
        <li class="nav-item"><a class="nav-link" id="speakers" href="/speakers.html">Speakers</a></li>
        <li class="nav-item"><a class="nav-link" id="locations" href="/locations.html">Locations</a></li>
        <li class="nav-item"><a class="nav-link" id="travel" href="/travel.html">Travel</a></li>
        <li class="nav-item"><a class="nav-link" id="faqs" href="/FAQs.html">FAQs</a></li>
        <li class="nav-item"><a class="nav-link" id="amas" href="/AMAs.html">AMAs</a></li>
        <li class="nav-item"><a class="nav-link" id="trivia" href="/Trivia.html">Trivia</a></li>
      </ul>
    </div>
  </div>
</nav>

<script type="text/javascript">
  var page = "{{ page }}";
  link = document.getElementById(page);
  if (link) {
    link.classList.add("active");
  }
</script>
